<section class="about-s">
    <div class="container">
        <div class="about-s__inner">
            <h3 class="about-s__title">About us</h3>
            <div class="about-s__info">
                <h4 class="about-s__headline">Welcome to ///// clean services: your premier cleaning partner
                </h4>
                <p class="about-s__text">
                    At ///// we pride ourselves in providing you with a high-quality clean & professional service.
                    Servicing
                    all of Toronto////, we offer Home, Business or Post -Construction Cleaning to give you a hand with
                    your
                    cleaning needs. Our friendly crew is ready to impress.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="why-choose">
    <div class="container">
        <div class="why-choose__inner">
            <h3></h3>
            <div class="why-choose__text"></div>
            <ul class="why-choose__list">
                <li class="why-choose__item">
                    <img src="../img/icons/why1.svg" alt="icon">
                    <div class="why-choose__info">
                        <strong>5 years of cleaning</strong>
                        <p>Over 12,000 satisfied customers</p>
                    </div>
                </li>
                <li class="why-choose__item">
                    <img src="../img/icons/why2.svg" alt="icon">
                    <div class="why-choose__info">
                        <strong>Perfect result</strong>
                        <p>Your satisfaction is our top priority</p>
                    </div>
                </li>
                <li class="why-choose__item">
                    <img src="../img/icons/why3.svg" alt="icon">
                    <div class="why-choose__info">
                        <strong>Safety and reliability</strong>
                        <p>Compensation if you are not satisfied</p>
                    </div>
                </li>
                <li class="why-choose__item">
                    <img src="../img/icons/why4.svg" alt="icon">
                    <div class="why-choose__info">
                        <strong>Professional cleaners</strong>
                        <p>Careful selection and training of cleaners</p>
                    </div>
                </li>
                <li class="why-choose__item">
                    <img src="../img/icons/why5.svg" alt="icon">
                    <div class="why-choose__info">
                        <strong>Transparent pricing</strong>
                        <p>Fixed prices for services</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>