<section class="about-post-construction">
  <div class="container">
      <div class="about__inner">
          <h2 class="about__title">Post-Construction Cleaning</h2>
          <div class="about__text">
              <p>Allow us to introduce our After Construction or After Repair Works Cleaning Services, a specialized solution
                 crafted to transition your space from a construction zone to a pristine and livable environment. We recognize the
                 unique hurdles that arise following construction or renovation projects, and our committed team is dedicated to
                 facilitating a thorough cleaning process. </p>
              <p>Our comprehensive service commences by addressing construction debris and dust, meticulously sweeping and
                 vacuuming every surface to eradicate particles and residues. We prioritize meticulous attention to detail, targeting
                 hard-to-reach areas and crevices where dust tends to accumulate during construction.</p>
              <p>Windows, frames, and sills receive meticulous cleaning to restore transparency and maximize natural light. We
                 deploy potent cleaning agents to eliminate any adhesive residues, paint splatters, or other construction-related
                 stains, ensuring a flawless finish on surfaces throughout your space.</p>
              <p>In the kitchen, our team focuses on eliminating post-construction dust from cabinets, countertops, and
                 appliances. We pay special attention to areas surrounding electrical outlets and switches to uphold safety and
                 cleanliness standards.</p>   
          </div>
      </div>
  </div>
</section>