<section class="about-c">
    <div class="container">
        <div class="about-c__inner">
            <h2 class="about-c__title">About Residential Cleaning</h2>
            <div class="about-c__text">
                <p>Commercial cleaning services are meticulously tailored to suit the distinct requirements of
                    businesses and public spaces, guaranteeing a tidy and welcoming atmosphere for employees, customers,
                    and visitors alike. Spanning a diverse array of settings including office buildings, retail outlets,
                    restaurants, and healthcare facilities, commercial cleaning encompasses a broad spectrum of
                    environments.</p>
                <p>Utilizing specialized equipment and methodologies, professional cleaners adeptly tackle a myriad of
                    cleaning challenges, from high-traffic areas to shared spaces and stringent sanitary standards.</p>
                <p>Services rendered in commercial cleaning may encompass an array of tasks, ranging from dusting and
                    vacuuming to mopping, disinfecting surfaces, and maintaining restroom hygiene. With a steadfast
                    commitment to efficiency and excellence, these services play a pivotal role in upholding a positive
                    brand image, fostering employee productivity, and cultivating a secure and hospitable ambiance for
                    all stakeholders.</p>
            </div>
        </div>
    </div>
</section>