<section class="about-s">

    <div class="about-s__inner">
        <div class="container">
            <h3 class="about-s__title">About us</h3>
        </div>
        <div class="about-s__info">
            <div class="container">
                <h4 class="about-s__headline">Welcome to ///// clean services: your premier cleaning partner
                </h4>
                <p class="about-s__text">
                    At ///// we pride ourselves in providing you with a high-quality clean & professional service.
                    Servicing
                    all of Toronto////, we offer Home, Business or Post -Construction Cleaning to give you a hand with
                    your
                    cleaning needs. Our friendly crew is ready to impress.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="why-choose">
    <div class="container">
        <div class="why-choose__inner">
            <h3>About us</h3>
            <div class="why-choose__text">
                <p>
                    With years of experience in the industry, our team consists of highly trained professionals who are
                    passionate about cleanliness. From residential homes to commercial spaces, we have the knowledge and
                    skills to tackle any cleaning challenge. Whether you need a one-time deep clean or regular
                    maintenance services, we’ll work with you to create a cleaning schedule that fits your lifestyle and
                    budget.
                    From the moment you contact us to the completion of the cleaning service, our friendly and
                    professional staff are here to address any questions or concerns you may have
                </p>
            </div>
            <ul class="why-choose__list">
                <li class="why-choose__item">
                    <img src="../img/icons/why1.svg" alt="icon">
                    <div class="why-choose__info">
                        <strong>5 years of cleaning</strong>
                        <p>Over 12,000 satisfied customers</p>
                    </div>
                </li>
                <li class="why-choose__item">
                    <img src="../img/icons/why2.svg" alt="icon">
                    <div class="why-choose__info">
                        <strong>Perfect result</strong>
                        <p>Your satisfaction is our top priority</p>
                    </div>
                </li>
                <li class="why-choose__item">
                    <img src="../img/icons/why3.svg" alt="icon">
                    <div class="why-choose__info">
                        <strong>Safety and reliability</strong>
                        <p>Compensation if you are not satisfied</p>
                    </div>
                </li>
                <li class="why-choose__item">
                    <img src="../img/icons/why4.svg" alt="icon">
                    <div class="why-choose__info">
                        <strong>Professional cleaners</strong>
                        <p>Careful selection and training of cleaners</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>