<section class="about">
    <div class="container">
        <div class="about__inner">
            <h2 class="about__title">About Residential Cleaning</h2>
            <div class="about__text">
                <p>Our distinguished cleaning package is meticulously designed to elevate your living spaces to the
                    pinnacle of cleanliness and comfort. This comprehensive service begins with thorough vacuuming and
                    floor washing, breathing new life into your flooring. We painstakingly scrub sinks, taps, and
                    fixtures, leaving them glistening and sanitized. Countertops and cabinet exteriors receive gentle
                    cleaning to ensure every surface radiates brilliance. </p>
                <p>In the heart of your home – the kitchen – we pay meticulous attention to detail as we clean all
                    appliances to a sparkling shine. Similarly, in the bathroom, we spare no effort, disi nfecting and
                    scrubbing the toilet, bathtub, and shower, and polishing the sink to a reflective sheen. Glass
                    surfaces and mirrors are meticulously cleaned to perfection, ensuring a streak-free finish.</p>
                <p>As part of our meticulous approach, we delicately lift and dust all lightweight objects, leaving no
                    corner overlooked. We meticulously arrange and manage work surfaces, crafting an organized and
                    inviting environment tailored to your needs.</p>
            </div>
        </div>
    </div>
</section>