<section class="main-why">
    <div class="container">
        <div class="main-why__inner">
            <h3 class="main-why__title">Why choose us?</h3>
            <p class="main-why__text">
                At ///// we pride ourselves in providing you with a high-quality clean & professional service. Servicing
                all of Toronto////, we offer Home, Business or Post -Construction Cleaning to give you a hand with your
                cleaning needs. Our friendly crew is ready to impress.
            </p>
            <ul class="main-why__list">
                <li class="main-why__item">
                    <img src="../img/icons/why1.svg" alt="icon">
                    <div class="main-why__info">
                        <strong>5 years of cleaning</strong>
                        <p>Over 12,000 satisfied customers</p>
                    </div>
                </li>
                <li class="main-why__item">
                    <img src="../img/icons/why2.svg" alt="icon">
                    <div class="main-why__info">
                        <strong>Perfect result</strong>
                        <p>Your satisfaction is our top priority</p>
                    </div>
                </li>
                <li class="main-why__item">
                    <img src="../img/icons/why3.svg" alt="icon">
                    <div class="main-why__info">
                        <strong>Safety and reliability</strong>
                        <p>Compensation if you are not satisfied</p>
                    </div>
                </li>
                <li class="main-why__item">
                    <img src="../img/icons/why4.svg" alt="icon">
                    <div class="main-why__info">
                        <strong>Professional cleaners</strong>
                        <p>Careful selection and training of cleaners</p>
                    </div>
                </li>
                <li class="main-why__item">
                    <img src="../img/icons/why5.svg" alt="icon">
                    <div class="main-why__info">
                        <strong>Transparent pricing</strong>
                        <p>Fixed prices for services</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>