<section class="additional">
    <div class="container">
        <div class="additional__inner">
            <h4 class="additional__title">Additional cleaning services</h4>
            <p class="additional__text">We prioritize flexibility and transparency in our collaboration with you! That's
                why we've optimized our basic cleaning services to be as economical as possible. This package includes
                essential cleaning tasks, allowing you to tailor additional services based on your requirements. With
                this approach, you pay only for the services you truly need. For those seeking the full benefits of
                professional cleaning, we recommend our comprehensive general cleaning package. This option not only
                frees you from the hassle but also helps you save. In fact, the cost of general cleaning is lower than
                that of basic cleaning with four or more additional services.</p>
        </div>
    </div>
</section>