<section class="blog-s">
    <div class="container">
        <div class="blog-s__inner">
            <h3 class="hidden">Blog</h3>
            <ul class="blog-s__list">
                <li class="blog-s__item">
                    <h4 class="blog-s__headline">Pressure washing driveways</h4>
                    <p class="blog-s__text">Transform your driveway with our professional pressure washing cleaning
                        service. Say goodbye to stubborn dirt, grime, and stains as we restore your driveway to its
                        original pristine condition. Our expert team utilizes high-powered pressure washing equipment to
                        ensure thorough cleaning, leaving behind a spotless and inviting entrance to your home or
                        business. Experience the difference with our driveway pressure washing service and enhance the
                        curb appeal of your property today.</p>
                    <ul class="blog-s__photos">
                        <li class="blog-s__img"><img src="../img/general/blog-s1.jpg" alt="blog img"></li>
                        <li class="blog-s__img"><img src="../img/general/blog-s2.jpg" alt="blog img"></li>
                        <li class="blog-s__img"><img src="../img/general/blog-s3.jpg" alt="blog img"></li>
                    </ul>
                </li>
                <li class="blog-s__item">
                    <h4 class="blog-s__headline">Pressure washing driveways</h4>
                    <p class="blog-s__text">Transform your driveway with our professional pressure washing cleaning
                        service. Say goodbye to stubborn dirt, grime, and stains as we restore your driveway to its
                        original pristine condition. Our expert team utilizes high-powered pressure washing equipment to
                        ensure thorough cleaning, leaving behind a spotless and inviting entrance to your home or
                        business. Experience the difference with our driveway pressure washing service and enhance the
                        curb appeal of your property today.</p>
                    <ul class="blog-s__photos">
                        <li class="blog-s__img"><img src="../img/general/blog-s4.jpg" alt="blog img"></li>
                        <li class="blog-s__img"><img src="../img/general/blog-s5.jpg" alt="blog img"></li>
                        <li class="blog-s__img"><img src="../img/general/blog-s6.jpg" alt="blog img"></li>
                    </ul>
                </li>
                <li class="blog-s__item">
                    <h4 class="blog-s__headline">Pressure washing driveways</h4>
                    <p class="blog-s__text">Transform your driveway with our professional pressure washing cleaning
                        service. Say goodbye to stubborn dirt, grime, and stains as we restore your driveway to its
                        original pristine condition. Our expert team utilizes high-powered pressure washing equipment to
                        ensure thorough cleaning, leaving behind a spotless and inviting entrance to your home or
                        business. Experience the difference with our driveway pressure washing service and enhance the
                        curb appeal of your property today.</p>
                    <ul class="blog-s__photos">
                        <li class="blog-s__img"><img src="../img/general/blog-s7.jpg" alt="blog img"></li>
                        <li class="blog-s__img"><img src="../img/general/blog-s8.jpg" alt="blog img"></li>
                        <li class="blog-s__img"><img src="../img/general/blog-s9.jpg" alt="blog img"></li>
                    </ul>
                </li>
                <li class="blog-s__item">
                    <h4 class="blog-s__headline">Pressure washing driveways</h4>
                    <p class="blog-s__text">Transform your driveway with our professional pressure washing cleaning
                        service. Say goodbye to stubborn dirt, grime, and stains as we restore your driveway to its
                        original pristine condition. Our expert team utilizes high-powered pressure washing equipment to
                        ensure thorough cleaning, leaving behind a spotless and inviting entrance to your home or
                        business. Experience the difference with our driveway pressure washing service and enhance the
                        curb appeal of your property today.</p>
                    <ul class="blog-s__photos">
                        <li class="blog-s__img"><img src="../img/general/blog-s10.jpg" alt="blog img"></li>
                        <li class="blog-s__img"><img src="../img/general/blog-s11.jpg" alt="blog img"></li>
                        <li class="blog-s__img"><img src="../img/general/blog-s12.jpg" alt="blog img"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>