<section class="book">
    <div class="container">
        <div class="book__inner">
            <div class="book__left">
                <div class="book__cleaning-btn">
                    <button class="book__standart">Standard</button>
                    <button class="book__advanced">Advanced cleaning</button>
                </div>
                <h1>Set up your cleaning service</h1>
                <ul class="book__steps">
                    <li class="book__step">
                        <div class="book__num">
                            <p class="book__number">1</p>
                            <p>Choose a service</p>
                        </div>
                        <div class="book__step-choise">
                            <div class="book__step-title">
                                <span>Residential cleaning</span>
                                <input type="radio" name="book-cleaning" value="Residential cleaning" checked>
                            </div>

                            <div class="book__step-title">
                                <span>Commercial cleaning</span>
                                <input type="radio" name="book-cleaning" value="Commercial cleaning">
                            </div>
                        </div>
                    </li>
                    <li class="book__step">
                        <div class="book__num">
                            <p class="book__number">2</p>
                            <p>Choose a date & time</p>
                        </div>
                        <div class="book__date-time">
                            <input type="date" class="book__date">
                        </div>
                        <ul class="book__list-time">
                            <li class="book__item-time">
                                <input type="radio" name="book-time" value="8">
                                <span>From 8:00 to 12:00</span>
                            </li>
                            <li class="book__item-time">
                                <input type="radio" name="book-time" value="12">
                                <span>From 12:00 to 16:00</span>
                            </li>
                            <li class="book__item-time">
                                <input type="radio" name="book-time" value="15">
                                <span>From 15:00 to 18:00</span>
                            </li>
                        </ul>
                        <div class="book__list-btns">
                            <button>one-time cleaning </button>
                            <button>scheduled cleaning </button>
                        </div>
                    </li>
                    <li class="book__step">
                        <div class="book__num">
                            <p class="book__number">3</p>
                            <p>Add details to your order:</p>
                        </div>
                    </li>
                </ul>
                <div class="book__additional">
                    <h2>Additional cleaning services</h2>
                    <div class="book__additional-services">
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Microwave Cleaning</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Oven Interior Cleaning</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Hood Cleaning</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Refrigerator Cleaning</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Grill Cleaning</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Load Dish Washing</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Extra Kitchen</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Cabinets Washing</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Caninets Orginizing</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Tile Cleaning</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Bathroom Cosmetics Cleaning</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Extra Bathroom</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Sanitazation</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Window Washing</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Window Blinds</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Balcony Surface Cleaning</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Garage Cleaning</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Garage removal</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Wardrobe Management</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Bed Linen</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Bed Linen + laundry</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Wood Polishing</div>
                        </div>
                        <div class="book__add-serv">
                            <input type="checkbox">
                            <div class="book__add-info">Chandelier Maintenance (Regular Only)</div>
                        </div>
                    </div>
                </div>
                <div class="book__from">
                    <div class="book__form-info">
                        <p>4</p>
                        <p>Please enter your details:</p>
                    </div>
                    <form>
                        <label class="book__name">
                            <input type="text" placeholder="Name">
                        </label>
                        <label class="book__email">
                            <input type="email" placeholder="Email">
                        </label>
                        <label class="book__phone">
                            <input type="phone" placeholder="Phone number">
                        </label>
                        <label class="book__code">
                            <input type="number" placeholder="Postal code">
                        </label>
                        <label class="book__adress">
                            <input type="text" placeholder="Address">
                        </label>
                        <label class="book__adress">
                            <textarea name="" id="" cols="50" rows="2" placeholder="Text"></textarea>
                        </label>
                        <input type="submit" value="Order the service">
                    </form>
                </div>
            </div>
            <div class="book__right">
                <h3 class="book__total">
                    Total order
                </h3>
                <div class="book__right-info">
                    <strong>May 4, 2024 / from 15:00 to 18:00</strong>
                    <strong>1 beds / 1 baths</strong>
                    <strong>one-time cleaning</strong>
                </div>
                <div class="book__order">
                    <div class="book__tax">
                        <p>Estimated tax</p>
                        <p>CAD $0000</p>
                    </div>
                    <div class="book__discount">
                        <p>Discount</p>
                        <p>CAD $0000</p>
                    </div>
                    <div class="book__total-order">
                        <p>
                            Total order
                        </p>
                        <p>
                            <span>CAD</span> $0000
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>