<section class="customers">
    <div class="container">
        <div class="customers__inner">
            <h6 class="customers__title">What are our customers saying?</h6>
            <ul class="customers__list">
                <li class="customers__item">
                    <span class="customers__name">Alyssa Wilen</span>
                    <p class="customers__text">I was extremely satisfied with the cleaning service provided by the
                        professional cleaners. They were thorough, efficient, and paid close attention to detail.</p>
                    <ul class="customers__stars">
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                    </ul>
                </li>
                <li class="customers__item">
                    <span class="customers__name">Konnie Sizemore</span>
                    <p class="customers__text">The move-in cleaning service was outstanding, and I was impressed by how
                        clean and fresh everything looked. The team was friendly, professional.</p>
                    <ul class="customers__stars">
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                    </ul>
                </li>
                <li class="customers__item">
                    <span class="customers__name">Lindsay Croker</span>
                    <p class="customers__text">My home has never looked or smelled so clean, and I would highly
                        recommend this service to anyone looking for a top-notch cleaning experience.</p>
                    <ul class="customers__stars">
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                        <li class="customers__star">
                            <img src="../img/icons/icon-star.svg" alt="icon star">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>