<section class="deep">
    <div class="container">
        <div class="deep__inner">
            <h5 class="deep__title">Deep Cleaning Service</h5>
        </div>
        <div class="deep__text">
            <p>Experience the transformative impact of our Deep Cleaning service, where we transcend surface cleaning to
                revitalize and renew your living spaces. Whether you're preparing for a special event or simply aiming
                to give your home a thorough refresh, our comprehensive approach ensures an unmatched level of
                cleanliness.</p>
        </div>

        <div class="deep__services">
            <div class="deep__bedrooms">
                <h6>Bedrooms & Living Areas:</h6>
                <ul class="deep__list">
                    <li class="deep__item">
                        <span>- Clean baseboards:</span> Remove dust and grime from baseboards for a fresher look.
                    </li>
                    <li class="deep__item">
                        <span>- Clean under furniture:</span> Reach those hidden spots under your furniture.
                    </li>
                    <li class="deep__item">
                        <span>- Wipe window sills:</span> Clean and shine all window sills.
                    </li>
                    <li class="deep__item">
                        <span>- Clean window frames:</span> Ensure window frames are spotless.
                    </li>
                    <li class="deep__item">
                        <span>- Wipe door frames:</span> Remove dirt and fingerprints from door frames.
                    </li>
                    <li class="deep__item">
                        <span>- Spot clean walls:</span> Eliminate smudges and marks from your walls.
                    </li>
                    <li class="deep__item">
                        <span>- Clean and wipe vents:</span> Ensure your air quality is optimal by cleaning vents.
                    </li>
                    <li class="deep__item">
                        <span>-Dusting ceiling:</span> Remove cobwebs and dust from ceiling areas.
                    </li>
                    <li class="deep__item">
                        <span>- Wiping fans:</span> Clean your ceiling fans for better air circulation.
                    </li>
                </ul>
            </div>
            <div class="deep__kitchen">
                <h6>Kitchen Cleaning</h6>
                <ul class="deep__list">
                    <li class="deep__item">
                        <span>- Clean baseboards:</span> Remove dust and grime from baseboards for a fresher look.
                    </li>
                    <li class="deep__item">
                        <span>- Clean under furniture:</span> Reach those hidden spots under your furniture.
                    </li>
                    <li class="deep__item">
                        <span>- Wipe window sills:</span> Clean and shine all window sills.
                    </li>
                    <li class="deep__item">
                        <span>- Clean window frames:</span> Ensure window frames are spotless.
                    </li>
                    <li class="deep__item">
                        <span>- Wipe door frames:</span> Remove dirt and fingerprints from door frames.
                    </li>
                    <li class="deep__item">
                        <span>- Spot clean walls:</span> Eliminate smudges and marks from your walls.
                    </li>
                    <li class="deep__item">
                        <span>- Clean and wipe vents:</span> Ensure your air quality is optimal by cleaning vents.
                    </li>
                    <li class="deep__item">
                        <span>-Dusting ceiling:</span> Remove cobwebs and dust from ceiling areas.
                    </li>
                    <li class="deep__item">
                        <span>- Wiping fans:</span> Clean your ceiling fans for better air circulation.
                    </li>
                </ul>
            </div>
            <div class="deep__bethroom">
                <h6>Bathroom Cleaning</h6>
                <ul class="deep__list">
                    <li class="deep__item">
                        <span>- Clean baseboards:</span> Remove dust and grime from baseboards for a fresher look.
                    </li>
                    <li class="deep__item">
                        <span>- Clean under furniture:</span> Reach those hidden spots under your furniture.
                    </li>


                </ul>
            </div>
        </div>
        <p class="deep__text-down">
            Our heavy-duty cleaning service encompasses meticulous window washing, bringing clarity and brightness to
            your living spaces. We utilize professional-grade degreasers to effectively tackle stubborn stains and
            greasy surfaces in the kitchen, leaving behind a spotless and sanitized environment. Appliances, including
            ovens and stovetops, receive special attention to ensure they gleam and function optimally.
        </p>
    </div>
</section>