<section class="discount">
    <div class="container">
        <div class="discount__inner">
            <h5 class="discount__title">How to get discount? <div class="discount__img-mob"><img
                        src="../img/general/procent.png" alt="discount image"></div>
            </h5>
            <div class="discount__info">
                <img src="../img/general/procent.png" alt="discount image">
                <p>
                    <span>How can you avail of discounts? Explore these dependable methods:</span>
                    Receive a 5% cashback by providing transparent feedback on our cleaning or any other services.Get a
                    10% discount when you
                    subscribe to our cleaning service along with additional services as a complimentary gift. Enjoy a
                    10% discount by sharing a promo code with a friend, benefiting both of you with impeccable cleaning
                    and discounted rates!
                </p>
            </div>
        </div>
    </div>
</section>