<section class="factors">

    <div class="factors__inner">
        <div class="container">
            <div class="factors__wrapper">
                <h4 class="factors__title">On what factors does the price rely?</h4>
                <ol class="factors__list">
                    <li class="factors__item">Size of the space: Larger areas typically require more time and resources
                        to
                        clean.</li>
                    <li class="factors__item">Level of cleanliness: The extent of dirt, stains, and clutter can impact
                        the
                        required effort and materials.</li>
                    <li class="factors__item">Frequency of service: Regular cleanings may be priced differently from
                        one-time or occasional cleanings.</li>
                    <li class="factors__item">Specific services requested: Additional tasks or specialized cleaning
                        requirements can influence the overall cost.</li>
                    <li class="factors__item">Location: Prices may vary based on geographical location and local market
                        rates.</li>
                    <li class="factors__item">Special considerations: Unique factors such as pet hair, eco-friendly
                        cleaning
                        products, or specific cleaning challenges may affect pricing</li>
                </ol>
            </div>
        </div>
    </div>
</section>