<section class="feetback">
    <div class="feetback__inner">
        <div class="container">
            <div class="feetback__wrapper">
                <div class="feetback__form-wrapper">
                    <h5>Quick callback order</h5>
                    <p>Please enter your details and we will call you</p>
                    <form class="feetback__form">
                        <div class="feetback__form-wrap">
                            <label class="feetback__name feetback__label">
                                <input type="text" name="Name">
                                <span>Name</span>
                            </label>
                            <label class="feetback__number feetback__label">
                                <input type="text" name="Phone">
                                <span>Phone number</span>
                            </label>
                        </div>

                        <label class="feetback__message feetback__label">
                            <input name="text" name="Info">
                            <span>Message</span>
                        </label>
                        <label class="feetback__submit-wrap">
                            send
                            <input type="submit" value="send" class="feetback__submit">
                        </label>
                    </form>
                </div>
                <div class="feetback__info">
                    <h6>Get a qoute</h6>
                    <p>Say goodbye to dirt and grime and hello to a fresh, revitalized space! Whether you're preparing
                        for a special event, moving into a new home, or simply craving a pristine environment, our
                        cleaning service is the solution you've been searching for.</p>
                    <a href="#" class="bttn feetback__btn">Request service <img src="../img/icons/arrow-right-white.svg"
                            alt="arrow icon"></a>
                </div>
            </div>
        </div>
    </div>
</section>