<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@@title</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="Shortcut Icon" type="image/x-icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/libs/swiper.css">
</head>

<body>

    <!-- Add autoHide class to automatically hide the header on scroll -->
    <header class="header">
        <div class="header__logo-phone">
            <div class="container">
                <div class="header__inner">
                    <button class="header__burger">
                        <img src="../img/icons/burger.svg" alt="burger menu icons">
                    </button>
                    <a href="#" class="header__logo"><img src="../img/icons/logo.svg" alt="logo icon"></a>
                    <a href="tel:14378684158" class="header__phone">
                        <div class="header__logo-icon">
                            <img src="../img/icons/phone-white.svg" alt="phone icon">
                        </div>
                        <span>1(437)868-4158</span>
                    </a>
                </div>
                <ul class="header__mobile-menu header__mobile-hide">
                    <li class="header__mobile-item"><a href="/">Residental Cleaning</a></li>
                    <li class="header__mobile-item"><a href="/#main-our">Commercial Cleaning </a></li>
                    <li class="header__mobile-item"><a href="advanced.html">Power Cleaning</a></li>
                    <li class="header__mobile-item"><a href="about-us.html">Airbnb</a></li>
                    <li class="header__mobile-item"><a href="#">Move In /Move Out</a></li>
                    <li class="header__mobile-item"><a href="contacts.html">Post-Constructionƒ</a></li>
                </ul>
            </div>
        </div>
            
        <div class="header__navigation">
            <div class="container">
                <nav class="header__nav">
                    <ul class="header__list">
                        <li class="header__item header__item-hide"><a href="/">Home</a></li>
                        <li class="header__item header__item-hide"><a href="/#main-our">Services </a></li>
                        <li class="header__item header__item-hide"><a href="advanced.html">Advanced Solutions</a></li>
                        <li class="header__item"><a href="about-us.html">About Us</a></li>
                        <li class="header__item"><a href="#">Book Online</a></li>
                        <li class="header__item"><a href="contacts.html">Contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>

    <main class="main">