<section class="main-our">
    <div class="container">
        <div class="main-our__inner">
            <h3 class="main-our__title">Our Services</h3>
            <ul class="main-our__list">
                <li class="main-our__item">
                    <img src="../img/general/our1.jpg" alt="our image">
                    <div class="main-our__info">
                        <h4 class="main-our__headline">Commercial Cleaning</h4>
                        <p>
                            Commercial cleaning entails the upkeep and sanitation of commercial establishments and
                            public areas. Effective commercial cleaning enhances the professional image of your
                            business.
                        </p>
                        <strong class="main-our__price">from CA$200</strong>
                    </div>
                </li>
                <li class="main-our__item">
                    <img src="../img/general/our2.jpg" alt="our image">
                    <div class="main-our__info">
                        <h4 class="main-our__headline">Residental Cleaning</h4>
                        <p>
                            Residential cleaning is vital for upholding a healthy and hygienic atmosphere in the home.
                            Regular residential cleaning promotes a sense of comfort and well-being for you and your
                            family
                        </p>
                        <strong class="main-our__price">from CA$140</strong>
                    </div>
                </li>
                <li class="main-our__item">
                    <img src="../img/general/our3.jpg" alt="our image">
                    <div class="main-our__info">
                        <h4 class="main-our__headline">Deep Cleaning</h4>
                        <p>
                            Experience the ultimate in cleanliness with our deep cleaning services, harnessing the power
                            of steam cleaners, electric scrubbers, and pressure washers for a heavy duty tasks.
                        </p>
                        <strong class="main-our__price">from CA$220</strong>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>