<section class="main-clean">
    <div class="container">
        <div class="main-clean__inner">
            <h3 class="main-clean__title">How We Clean</h3>
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <h4>Kitchen</h4>
                        <div class="swiper__image">
                            <img src="../img/general/clean1.jpg" alt="clean image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h4>Bathroom</h4>
                        <div class="swiper__image">
                            <img src="../img/general/clean2.jpg" alt="clean image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h4>Living Room</h4>
                        <div class="swiper__image">
                            <img src="../img/general/clean3.jpg" alt="clean image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <h4>Bedroom</h4>
                        <div class="swiper__image">
                            <img src="../img/general/clean4.jpg" alt="clean image">
                        </div>
                    </div>
                    ...
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <div class="swiper__pagination-wrap">
                    <div class="swiper-button-prev">
                        <svg width="43" height="9" viewBox="0 0 43 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.646446 4.14645C0.451183 4.34171 0.451183 4.65829 0.646446 4.85356L3.82843 8.03554C4.02369 8.2308 4.34027 8.2308 4.53553 8.03554C4.7308 7.84028 4.7308 7.52369 4.53553 7.32843L1.70711 4.5L4.53553 1.67158C4.7308 1.47631 4.7308 1.15973 4.53553 0.964469C4.34027 0.769207 4.02369 0.769207 3.82843 0.96447L0.646446 4.14645ZM43 4L1 4L1 5L43 5L43 4Z"
                                fill="#72778F" />
                        </svg>
                    </div>
                    <div class="swiper-button-next">
                        <svg width="43" height="25" viewBox="0 0 43 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M42.3536 12.8535C42.5488 12.6583 42.5488 12.3417 42.3536 12.1464L39.1716 8.96446C38.9763 8.7692 38.6597 8.7692 38.4645 8.96446C38.2692 9.15972 38.2692 9.47631 38.4645 9.67157L41.2929 12.5L38.4645 15.3284C38.2692 15.5237 38.2692 15.8403 38.4645 16.0355C38.6597 16.2308 38.9763 16.2308 39.1716 16.0355L42.3536 12.8535ZM4.37114e-08 13L42 13L42 12L-4.37114e-08 12L4.37114e-08 13Z"
                                fill="#72778F" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>