<section class="main-how">
    <div class="container">
        <div class="main-how__inner">
            <h2>How does it work?</h2>
            <ul class="main-how__list">
                <li class="main-how__item">
                    <img src="../img/icons/how1.svg" alt="icon">
                    <p>Schedule services for a date and time that suits you best</p>
                </li>
                <li class="main-how__item">
                    <img src="../img/icons/how2.svg" alt="icon">
                    <p>We carry out the service.</p>
                </li>
                <li class="main-how__item">
                    <img src="../img/icons/how3.svg" alt="icon">
                    <p>You assess the service quality.</p>
                </li>
                <li class="main-how__item">
                    <img src="../img/icons/how4.svg" alt="icon">
                    <p>You settle the payment for the service.</p>
                </li>
            </ul>
        </div>
    </div>
</section>