<section class="need">
    <div class="container">
        <div class="need__inner">
            <h3 class="need__title">Why do you need to order a manager's visit?</h3>
            <div class="need__info">
                <div class="need__text">
                    <p>Each premises is unique and necessitates a thorough assessment. While sending photos and videos
                        of the office aids in evaluation, it's challenging to capture every detail. During the meeting,
                        the manager can objectively assess and calculate the cleaning cost, establishing a minimum price
                        based on the information available.</p>
                        <a href="#" class="bttn need__bttn">Call manager now <img src="../img/icons/arrow-right-white.svg" alt="arrow icon"></a>
                </div>
                <div class="need__img">
                    <img src="../img/general/need.jpg" alt="need img">
                </div>
            </div>
        </div>
    </div>
</section>