<section class="refresh">
    <div class="container">
        <div class="refresh__inner">
            <h3 class="refresh__title">Refresh your environment with our Commercial Cleaning service</h3>
            <p class="refresh__subtitle">In the fast-paced world of business, maintaining a pristine and professional
                environment is crucial, and our commercial cleaning services are designed to ensure your workspace
                remains spotless and inviting.</p>
            <div class="refresh__info">
                <div class="refresh__img">
                    <img src="../img/general/revitalize2.png" alt="rev img">
                </div>
                <div class="refresh__text">
                    <h4 class="main-revitalize__headline">What do we offer?</h4>
                    <ul class="refresh__list">
                        <li class="main-revitalize__item">Dusting and wiping down desks and work surfaces.</li>
                        <li class="main-revitalize__item">Cleaning and disinfecting common spaces like conference rooms and
                            break areas.</li>
                        <li class="main-revitalize__item">Wiping down tables, chairs, and other furniture.</li>
                        <li class="main-revitalize__item">Dusting and cleaning cubicle walls and partitions.</li>
                        <li class="main-revitalize__item">Sanitizing shared surfaces.</li>
                        <li class="main-revitalize__item">Thorough cleaning and sanitizing of toilets, sinks, and countertops.
                        </li>
                        <li class="main-revitalize__item">Refilling soap dispensers and restocking paper towels or toilet paper.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>