<section class="service-map">
    <div class="container">
        <div class="service-map__inner">
            <div class="service-map__info">
                <h3 class="service-map__title">Service map</h3>
                <div class="service-map__img-mob">
                    <img src="../img/general/map.png" alt="map image">
                </div>
                <p class="service-map__text">Discover the neighborhoods we serve. Let us transform your space into a
                    sanctuary of cleanliness and comfort!
                    Contact us today to schedule your cleaning appointment and experience the difference firsthand.</p>
                    <ul class="service-map__list">
                        <li class="service-map__item">
                            <span>Contact us:</span>
                            <a href="tel:14378684158">1(437)868-4158</a>
                        </li>
                        <li class="service-map__item">
                            <span>Cleaning hours: </span>
                            <p>Monday - Saturday 8 am to 8 pm</p>
                        </li>
                        <li class="service-map__item">
                            <span>Office hours:</span>
                            <p>Monday - Saturday 8 am to 8 pm</p>
                        </li>
                        <li class="service-map__item">
                            <span>Online booking:</span>
                            <p>24/7</p>
                        </li>
                    </ul>
            </div>
            <div class="service-map__img">
                <img src="../img/general/map.png" alt="map image">
            </div>

        </div>
    </div>
</section>