<section class="subscribe">
    <div class="subscribe__inner">
        <div class="container">
            <div class="subscribe__wrap">
                <div class="subscribe__info">
                    <h6 class="subscribe__title">Subscription for weekly cleaning</h6>
                    <p class="subscribe__text">Subscription for weekly cleaning, get 10% discount and enjoy the
                        cleanliness
                        of your home!</p>
                    <a href="#" class="subscribe__btn bttn">Request service <img
                            src="../img/icons/icon-arrow-orange.svg" alt="icon arrow"></a>
                </div>
                <div class="subscribe__discount">-10%</div>
            </div>
        </div>
    </div>
</section>