<section class="tables">
    <div class="container">
        <div class="tables__inner">
            <h3 class="hidden">Prices</h3>
            <ul class="tables__list tables__list-first">
                <li class="tables__item tables__item-headline">
                    <span>Commercial cleaning</span>
                    <span>Price, CAD</span>
                </li>
                <li class="tables__item tables__item-headline">
                    <p>Cleaning the kitchen </p>
                    <p>$40 CAD</p>
                </li>
                <li class="tables__item tables__item-headline">
                    <p>Restore bathroom</p>
                    <p>$20 CAD</p>
                </li>
                <li class="tables__item tables__item-headline">
                    <p>Disinfect electronic </p>
                    <p>$50 CAD</p>
                </li>
                <li class="tables__item tables__item-headline">
                    <p>Cleaning the bathroom </p>
                    <p>$40 CAD</p>
                </li>
                <li class="tables__item tables__item-headline">
                    <p>Window cleaning (per window) </p>
                    <p>$5 CAD</p>
                </li>
            </ul>
            <ul class="tables__list">
                <li class="tables__item tables__item-headline">
                    <span>Commercial cleaning</span>
                    <span>Price, CAD/Sq Ft</span>
                </li>
                <li class="tables__item tables__item-headline">
                    <p>Stripping and waxing </p>
                    <p>$0.50 CAD</p>
                </li>
                <li class="tables__item tables__item-headline">
                    <p>Buffing and burnishing</p>
                    <p>$0.10 CAD</p>
                </li>
                <li class="tables__item tables__item-headline">
                    <p>Ceramic title cleaning </p>
                    <p>$0.20 CAD</p>
                </li>
                <li class="tables__item tables__item-headline">
                    <p>Carpet cleaning </p>
                    <p>$0.22 CAD</p>
                </li>
                <li class="tables__item tables__item-headline">
                    <p>Title/Concretely scrubbing  </p>
                    <p>$0.25 CAD</p>
                </li>
            </ul>
        </div>
    </div>
</section>