@import "../core";

.bttn {
    padding: 8px 54px;
    display: flex;
    align-items: center;
    gap: 10px;

    max-width: max-content;

	color: #fff;
    background-color: #f97f68;
    text-decoration: none;
	border: none;
	cursor: pointer;
}

.bttn-border {
	padding: 1.6rem 2rem;
	background-color: transparent;
	border: 1px solid $bttnColor;
	color: $bttnColor;
}

.bttn-white {
	background-color: #fff;
	color: $bttnColor;
}

.bttn[disabled] {
	opacity: .7;
	cursor: default;
}

.bttn--red {
	background-color: $bttnSecondColor;
}

.bttn-loading,
.wpcf7 .wpcf7-form.submitting .wpcf7-submit {
	background-image: url(../img/general/spinner.svg);
	background-repeat: no-repeat!important;
	background-position: center!important;
	text-shadow: none;
	color: transparent;
}

.bttn--small {
	padding: 1rem 2rem;
   border-radius: 1.2rem;
}

.bttn--big {
	font-size: 1.8rem;
	padding: 2.4rem 4rem;
	border-radius: 2.2rem;
}