@import '../core';

.about {
	padding: 78px 0;
	@include minw($sm-pc) {
		padding: 180px 0;
	}
	&__title {
        margin-bottom: 26px;
		font-family: Jost, sans-serif;
		color: $colorAsfalt;
        font-size: 20px;
		@include minw($sm-pc) {
			margin-bottom: 36px;

			font-size: 40px;
		}
	}
	&__text {
		max-width: 1256px;
		p {
			margin-bottom: 24px;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.5;

			color: $colorAsfalt;
            @include minw($sm-pc) {
                font-size: 20px;
            }
		}
	}
}
