@import '../core';

.header {
	&__logo-phone {
		padding: 8px 0;
		background-color: $colorAsfalt;
		@include minw($sm-pc) {
			padding: 14px 0;
		}
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		align-items: center;
	}
	&__burger {
		width: 24px;
		height: 24px;
		background-color: transparent;
		border: none;
		@include minw($sm-pc) {
			display: none;
		}
	}
	&__logo,
	&__phone span {
		font-family: Jost, sans-serif;
		color: $colorWhite;
	}
	&__logo {
        max-width: 78px;
        width: 100%;
        img{
            width: 100%;
        }
        @include minw($sm-pc) {
            max-width: 124px;
        }
	}
	&__phone {
		display: flex;
		align-items: center;
		gap: 12px;
	}
	&__phone span {
		display: none;
		@include minw($sm-pc) {
			display: inline-block;
			font-weight: 800;
			font-size: 34px;
			letter-spacing: 0.04em;
		}
	}
	&__navigation {
		padding: 12px 0;

		background: linear-gradient(360deg, #fff 0%, #5ac3b0 83.09%);
	}
	&__nav {
		display: flex;
		justify-content: center;
	}
	&__list {
		max-width: 353px;
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
        @include minw($sm-pc) {
            max-width: 1170px;
        }
	}
	&__item a {
		font-weight: 600;
		font-size: 16px;

		color: $colorAsfalt;
		font-family: Jost, sans-serif;
        @include minw(375px) {
            font-size: 20px;
        }
        @include minw($sm-pc) {
            font-size: 24px;
        }
	}
	&__item-hide {
		display: none;
		@include minw($sm-pc) {
			display: block;
		}
	}
}
