@import '../core';

.main-why {
    padding: 40px 0;
	background-image: url('../../img/cover/why-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 60%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.8) 0%,
            rgba(255, 255, 255, 0.8) 100%
        );
        z-index: 2;
        @include minw($sm-pc) {
            height: 100%;
            z-index: 0;
        }
    }
	&__title {
		margin-bottom: 36px;
		font-weight: 600;
		font-size: 40px;
		font-family: Jost, sans-serif;
	}
	&__text {
		margin-bottom: 36px;
		max-width: 615px;
		font-family: Amethysta, sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.5;
	}
	&__list {
		margin-left: 70px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&__item {
		display: flex;
		gap: 24px;
		align-items: center;
		strong {
			display: inline-block;
			margin-bottom: 8px;
			font-family: Jost, sans-serif;
			font-weight: 500;
			font-size: 24px;
		}
		p {
			font-family: Amethysta, sans-serif;
			font-weight: 400;
			font-size: 16px;
		}
	}
}
