@import '../core';

.main-our {
	&__title {
		margin-bottom: 60px;
		font-family: Jost, sans-serif;
		font-weight: 600;
	}
	&__list {
		display: flex;
        flex-direction: column;
		gap: 38px;
		
        @include minw($lg) {
            flex-direction: row;
			justify-content: space-between;
            gap: 20px;
		}
	}
	&__item {
		max-width: 300px;
	}
	&__headline {
		margin-bottom: 16px;
		font-family: Jost, sans-serif;
		font-weight: 500;
		font-size: 31px;
		color: $colorOrange;
	}
	&__info {
		p {
			margin-bottom: 16px;
			font-family: Amethysta, sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.5;
		}
	}
	&__price {
        display: block;
		font-family: Jost, sans-serif;
		font-weight: 500;
		font-size: 24px;
		text-align: right;
		color: #000;
	}
}
